#people{
    width: 100%;
}
.imageandtext{
    display: flex;
}
.textimage{
    padding-top: 160px;
    padding-left: 10px;
    position:absolute
}
#loveandcare{
    font-size: 45px;
}

#button{
    background-color: mediumseagreen;
    color: white;
    padding: 15px 15px;
    border-radius: 10px;
}

.appointment{
    top:620px;
    left:250px;
    position:absolute;
    background-color:whitesmoke;
    border-radius: 20px;
    width: 58%;
 }
 .fields{
    width: 100%;
    height: auto;
 }
.rows{
    display: flex;
    padding-left: 5px;
}
#bookappointment{
    padding-left: 15px;
}
.row1{
    height:40px;
    width: 230px;
    border-radius: 4%;

}
.fieldrow2{
padding-left: 5px;
}
.small{
    width: 240px;
}
.departments{
    display: flex;
    padding-left: 1px;
}
.departmentsmain{
    width:100%;
    padding-top: 120px;
    padding-left: 30px;
}

.dimage img{
    width: 92%;
}
.deptimage1{
    flex: 1;
}
.deptimage2{
    flex: 1;
}
.deptimage3{
    flex: 1;
}
.dimagetext{
    padding-right: 10px;
}
.readme{
    color: green;
}
.whyGG{
    display: flex;
background-color: #E8F9F6;
}
.leftcont img{
    flex: 1;
    width: 60%;
}
.rightcont{
    flex:1;
}
.imgntext{
    padding-top: 10px;
    display: flex;
    width:98%;
    background-color: #d6ecf3;
    padding-left: 10px;
}
#headerimg{
    width: 100%;
}
.textnimg{
    padding-top: 20px;
    flex:1;
    font-size: x-large;
  
    padding-right: 90px;
    font-size: large;
}
.headerimg{
    flex:2;
}
.tick{
    display: flex;
   
}
.tickimage{
    padding-left:3px;
    padding-bottom: 10px;
}
.ticktext{
    
    padding: 15px;
    
}
.specialistdoc{
    display: flex;
}
#dimagespec{
    width: 80%;
    border-radius: 5%;
}
.docimage1{
    flex: 1;
    padding-left: 10px;
}
.docimage2{
    flex: 1;
}
.docimage3{
    flex: 1;
}
.docimage4{
    flex: 1;
}
#meetourspecialist{
    padding-left: 525px;
}
#bestdoctors{
    padding-bottom: 10px;
    padding-left: 540px;
    font-size:x-small;
    color: grey;
}
#buttonviewall{
    background-color: mediumseagreen;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
}
.buttondiv{
    padding-left: 550px;
}
